/* .skin-purple .sidebar-menu>li.header {
    color: #fff;
    background: #1a2226;
} */

.skin-blue-light .main-header .navbar .nav>li>a {
    color: #1a2226;
}

.skin-blue-light .sidebar-menu>li.header {
    /* color: #000;
    background: #f9fafc; */
    /* color: #f9fafc; */
    /* background-color: #1c77c3; */
    /* background-color: #a5238e; */
    /* background-color: #7a776e; */
    /* color: #000;
    background-color: #fff;
    font-weight: 1000; */
    color: #333;
    background-color: #fff;
    font-weight: 1000;
    border: 1px solid #ccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
}

.select2-container {
    /* position: relative; */
    display: inline-block;
    zoom: 1;
    display: inline;
    width: 100%;
    font-size: 14px;
    color: #665c70;
}

.select2-container .select2-choice {
    font-size: 14px;
    width: 100%;
    display: block;
    height: 32px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ced4da;
    white-space: nowrap;
    line-height: 26px;
    color: #665c70;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, white));
    background-image: -webkit-linear-gradient(center bottom, #fff 0%, white 50%);
    background-image: -moz-linear-gradient(center bottom, #fff 0%, white 50%);
    background-image: -o-linear-gradient(bottom, #fff 0%, #fff 50%);
    background-image: -ms-linear-gradient(top, #fff 0%, #fff 50%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#fff', GradientType=0);
    background-image: linear-gradient(top, #fff 0%, #fff 50%);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    display: none;
}

.form-group {
    margin-bottom: 5px;
}

.navbar-nav>.tasks-menu>.dropdown-menu>li .menu {
    max-height: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    text-align: right;
}

.navbar-nav>.tasks-menu>.dropdown-menu {
    width: 150px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}

td {
    vertical-align: middle !important;
    /* Menengahkan konten tombol di dalam sel */
}

.btn {
    margin-bottom: 5px;
    /* Mengatur margin antar tombol */
    display: inline-block;
    /* Mengubah tombol menjadi inline-block */
}

.skin-blue-light .main-header .navbar {
    /* background-color: #1c77c3; */
    /* background-color: #a5238e; */
    background-color: #fff;
    color: #1a2226;
}

.skin-blue-light .main-header .logo {
    /* background-color: #1c77c3;
    color: #fff; */
    background-color: #fff;
    color: #1a2226;
    border-bottom: 0 solid transparent;
}

.skin-blue-light .main-header .navbar .sidebar-toggle {
    color: #1a2226;
}

.skin-blue-light .main-header .navbar .sidebar-toggle:hover {
    background-color: #e08e0b;
}

.skin-blue-light .main-header .navbar .nav>li>a:hover,
.skin-blue-light .main-header .navbar .nav>li>a:active,
.skin-blue-light .main-header .navbar .nav>li>a:focus,
.skin-blue-light .main-header .navbar .nav .open>a,
.skin-blue-light .main-header .navbar .nav .open>a:hover,
.skin-blue-light .main-header .navbar .nav .open>a:focus,
.skin-blue-light .main-header .navbar .nav>.active>a {
    background-color: #e08e0b;
    color: #1a2226;
}

.skin-blue-light .main-header .logo:hover {
    background-color: #e08e0b;
}

#header {
    background-color: #a5238e;
    /* background-color: #1c77c3; */
    /* background-color: #3c8dbc; */
    color: #fff;
    text-align: center;
}

.d-inline {
    display: inline;
}

.modal-footer .btn+.btn {
    margin-bottom: 5px;
    margin-left: 5px;
}

.skin-blue-light .sidebar-menu>li.active>a {
    color: #fff;
    background: #f39c12;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 15px;
}

/* CSS for table headers with specific background color and text color */
/* th {
    background-color: #3c8dbc;
    color: #fff;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
} */

/* Optional: Additional styling for table headers */
/* th:first-child {
    border-top-left-radius: 5px;
}

th:last-child {
    border-top-right-radius: 5px;
} */

/* Ensuring the table looks good */
/* table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
} */
